USE [master]
GO
/****** Object:  Database [UserDB]    Script Date: 03/05/2023 03:03:27 ******/
CREATE DATABASE [UserDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UserDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\UserDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserDB]
GO
/****** Object:  Table [dbo].[Tbl_User]    Script Date: 03/05/2023 03:03:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NULL,
	[AddressName] [varchar](150) NULL,
	[BirthDate] [date] NULL,
	[Gender] [varchar](15) NULL,
	[ImageProfile] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UserCredential]    Script Date: 03/05/2023 03:03:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UserCredential](
	[UserName] [varchar](50) NULL,
	[UserPassword] [varchar](20) NULL,
	[UserEmail] [varchar](50) NULL,
	[UserPhone] [varchar](15) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tbl_User] ON 

INSERT [dbo].[Tbl_User] ([ID], [FullName], [AddressName], [BirthDate], [Gender], [ImageProfile]) VALUES (1, N'M Deni Firdaus', N'Jakarta', CAST(N'1994-06-11' AS Date), N'Laki-laki', NULL)
SET IDENTITY_INSERT [dbo].[Tbl_User] OFF
GO
INSERT [dbo].[Tbl_UserCredential] ([UserName], [UserPassword], [UserEmail], [UserPhone]) VALUES (N'M Deni Firdaus', N'MDF123', N'mdeni.firdaus@yahoo.co.id', N'08973337107')
INSERT [dbo].[Tbl_UserCredential] ([UserName], [UserPassword], [UserEmail], [UserPhone]) VALUES (N'Mr Dummy', N'Dum123', N'dummy@yahoo.com', N'08954537373')
GO
USE [master]
GO
